extends layout

block content
  h1.text-center.mb-4= title

  .container
    .row
      each item in results
        .col-md-4.mb-4
          .card.shadow.p-3
            h4.text-dark= item.gadget_name
            p.text-muted Brand: #{item.brand}
            p.text-muted Price: $#{item.price}
            button.btn.btn-warning.mt-2(onclick=`dispatch('/gadgets/update?id=${item._id}')`) ✏️ Update

  script.
    function dispatch(path) {
      window.location.href = path;
    }
